.rua{
    background-image: url("../assets/images/rua.png");
    background-size: contain;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 2vw;
    justify-content: space-evenly;
}

.vaga{
    width: 15vw; 
    max-width: 150px;/* Garante que a imagem não ultrapasse a largura do contêiner */
    min-width: 70px;
    max-height: 40vh; /* Garante que a altura da imagem não ultrapasse 30% da altura da tela */
    height: auto; /* Mantém a proporção da imagem */
}