* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    color: white !important;
    /* Aplica a cor branca ao texto */
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
div {
    color: white !important;
    /* Garante que todo texto genérico seja branco */
}

/* Caso deseje alterar classes específicas do Bootstrap */
.navbar,
.btn,
.card,
.alert {
    color: white !important;
}